@import "assets/config/variables.scss";

.froalaEditor {
  display: flex;
  width: 100%;

  .fr-box {
    width: 100% !important;
  }

  .dropImagesZone {
    width: 100%;
  }

  .fr-box.fr-document .fr-wrapper .fr-element,
  .fr-view {
    width: 100% !important;
    margin: 0px !important;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    min-height: initial !important;
  }

  .fr-wrapper {
    padding: 0px !important;
  }

  #isPasted td {
    border: 1px solid black !important;
    padding: 3px !important;
  }

  #fr-logo {
    display: none;
  }

  .fr-toolbar {
    border-radius: 0px !important;
    background-color: #f8f8f8 !important;
  }

  .fr-toolbar .fr-btn-grp {
    display: inline-block;
    margin: 0 17px 0 12px;
    border-right: 1px solid #c3c3c3;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .fr-btn {
    height: 25px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    padding: 0px 2px !important;

    svg {
      width: 18px !important;
    }
  }

  .fr-svg {
    margin: 0px !important;
  }

  .fr-toolbar .fr-command.fr-btn.fr-dropdown:after {
    top: 8px !important;
  }

  .fr-toolbar .fr-command.fr-btn img {
    width: 17px !important;
  }

  .fr-dropdown {
    padding-right: 20px !important;
  }

  .fr-second-toolbar {
    border-radius: 0px !important;
    display: none !important;
  }

  .fr-line-breaker {
    display: none;
  }

  hr {
    height: 2px !important;
    width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

.froalaEditorError {
  border: 1px solid $red;
}

.fr-popup {
  z-index: 16 !important;
}